extends layout

block title_top
  | Silvio Casa

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | Welcome to #{title}

block hint
  | Hint

block title_left
  | YOYO

block page_content